<div class="locker">
  <div class="lock {{isCorrect && arrPassword.length >= 4? 'green' : 'white'}}">
    <p>CODE</p>
    <div class="password">
      <p class="pass-numbers" *ngFor="let ind of arrPassword">*</p>
    </div>
  </div>
  <div class="codeNumb">
    <div class="buttons">
      <button
        type="button"
        [disabled]="arrPassword.length >= 4"
        *ngFor="let number of arrayNumbers"
        (click)="addNumber(number)"
      >{{ number }}</button>
      <button type="button" (click)="eraseChar()">CLR</button>
      <button type="button" (click)="enter()">E</button>
    </div>
  </div>
</div>
