*{
  padding: 0;
  margin: 0;
}

.locker{
  padding: 10px 0 0 6px;
  width: 200px;
  background: lightslategray;
  border-radius: 5px;
}

.count{
  font-size: 25px;
}

.lock{
  font-size: 28px;
  text-align: center;
  border: 3px solid black;
  width: 193px;
  height: 100px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}


.green {
  background: greenyellow;
}


.white{
  background: white;
}

.password{
  display: flex;
  justify-content: center;
}

.pass-numbers{
  font-size: 28px;
  font-weight: bold;
  margin: 10px;
}

.codeNumb{
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
}


button{
  width:55px;
  height:50px;
  background: black;
  color: yellow;
  float:left;
  margin: 0 15px 15px 0;
  text-align:center;
  padding: 10px;
  border-radius: 30px;
}
